<!doctype html>
<html lang="en"
    domain="{{ metadata.domain }}"
    {% if googleanalytics %}
    ga-id="{{ googleanalytics }}"
    {% endif %}
  >
  <head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: 'HLKK0Q6AP5',
    apiKey: '242ed163a2a3e1bb0b7892a92c05a088',
    siteId: 'd7eff53d-21f9-4fb5-be3b-a15f20918406',
    branch: 'main',
    selector: 'div#search',
  });
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="{{ csp.regular | safe }}">
    {% if isdevelopment %}
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    {% else %}
    <link rel="icon" href="{{ '/img/favicon/favicon-192x192.png' | addHash }}" type="image/png">
    {% endif %}
    <meta name="theme-color" content="#f9c412">
    <meta name="robots" content="max-snippet:-1, max-image-preview: large, max-video-preview: -1">
    <title>{{ renderData.title or title or metadata.title | escape }}</title>
    <meta property="og:title" content="{{ renderData.title or title or metadata.title | escape  }}">
    {% set desc = renderData.description or description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}">
      <meta property="og:description" content="{{ desc | escape }}">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ metadata.author.twitterHandle }}">
    <meta name="twitter:creator" content="@{{ metadata.author.twitterHandle }}">
    {% if image %}
      <meta property="og:image" content="{{ image | absoluteUrl(metadata.url) }}">
    {% endif %}

    <link rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}">
    <!-- This is a blog and so it SHOULD be safe and it is nice for the web
         to send referrers cross-origin.
         However, if you use sensitive data in URLs, consider changing this to
         a value like `origin-when-cross-origin`
         https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy
          -->
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    {# For Algolia Crawler #}
    {% if published_at %}
      <meta property="article:published_time" content="{{ published_at | getTime }}">
    {% endif %}
    {% if last_updated_at %}
      <meta property="article:modified_time" content="{{ last_updated_at | getTime }}">
    {% endif %}
    <meta property="article:author" content="{{ metadata.author.name }}">
    {% if tags %}
      {% for tag in tags %}
        {% if tag !== 'posts' and tag !== 'books' %}
          <meta property="article:tag" content="{{ tag }}">
        {% endif %}
      {% endfor %}
    {% endif %}

    <link rel="preconnect" href="/" crossorigin>
    <script async defer src="{{ "/js/min.js" | addHash }}"
      {% if webvitals %}data-cwv-src="{{ "/js/web-vitals.js" | addHash }}"{% endif %}>
    </script>
    {% if googleanalytics %}
      <script async defer src="{{ "/js/cached.js" | addHash }}"></script>
    {% endif %}
    <!-- Notably iOS UAs also contain Mac OS X -->
    <script csp-hash>if (/Mac OS X/.test(navigator.userAgent))document.documentElement.classList.add('apple')
    </script>
    <!-- css is inserted by optimize-html custom plugin -->
  </head>
  <body>
    <header>
      <nav>
        <div id="nav">
          <h1><a href="{{ '/' | url }}" title="Homepage">{{ metadata.title }}</a></h1>
          {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
          {%- for entry in collections.all | eleventyNavigation %}
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          {%- endfor %}
        </div>
        <div id="reading-progress" aria-hidden="true"></div>
      </nav>
      <h1>{{ title }}</h1>
      {% block extraArticleHeader %}{% endblock %}
      <dialog id="message"></dialog>
      {% if googleanalytics %}
      <noscript>
        <img src="/.netlify/functions/ga?v=1&_v=j83&t=pageview&dr=https%3A%2F%2Fno-script.com&_s=1&dh={{ metadata.domain | encodeURIComponent }}&dp={{ page.url | encodeURIComponent }}&ul=en-us&de=UTF-8&dt={{title|encodeURIComponent}}&tid={{googleanalytics}}" width="1" height="1"
        style="display:none" alt="">
      </noscript>
      {% endif %}
     
    </header>

    <main>
      <article>
        {% block article %}
          {{ content | safe }}
        {% endblock %}

        {% if page.url.indexOf("/posts/") > -1 %}
          <p>Published <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>
        {% endif %}
      </article>
    </main>



    <footer>
      <a href="/about/">{{ metadata.author.name }}</a>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
